.wrapper
{
width: 860px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
}
.pmid {
	text-decoration:underline;
	color: #0000EE;
}
.pmid:hover {
	cursor: pointer;
}
.pmid:visited {
	color: #551A8B;
}
.body_panel
{
display:inline-block;
width:100%;
height:400px;
overflow-y:scroll;
}
table{
	width:100%;
}
table, td, th{
	vertical-align:top;
	border-style: solid;
	border-width: 1px;
	border-collapse: collapse;
	padding:5px;
	margin:5px;
}
td, th{
	width:100px;
}
th{
	background-color:lightgray;
}
.col1{
	width:100px;
	max-width:100px;
}
caption{
	font-weight:bold;
	font-size:130%;
}
.tip{
padding:10px;	
}
